<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Wilker PHP</string>
	<key>ordering</key>
	<array>
		<string>B56E4293-FA1B-41D9-B402-F5E6B5827CE2</string>
		<string>ECDF81E5-E9F7-48B2-B103-62F99ECC1C60</string>
		<string>E4629EC4-A49A-4E85-A79C-7E5B1936E044</string>
		<string>B724CA45-CE78-466D-86BA-B3981CACFE10</string>
		<string>C178A981-32B1-4D6A-9B40-6182EEB42C3C</string>
	</array>
	<key>uuid</key>
	<string>400B1AC9-DC29-417D-A0E4-CC75E2A5AE7D</string>
</dict>
</plist>
